body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #f6f6f6;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    color: #BF9BDE;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.highlight {
    font-weight: 800;
    transition: all .5s ease;
}

.highlight:hover {
    opacity: 0.6;
}

.card {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: all .5s ease;
}

.card img:hover {
    transform: scale(1.05);
    opacity: 0.6;
}

.card p {
    margin: 10px 0 0;
}

#form label {
    display: block;
    margin-bottom: 10px;
}

#form input[type="text"],
#form input[type="url"],
#form textarea {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #909090;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#form input[type="submit"],
button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 0.6em 1.3em;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

#form input[type="submit"] {
    background: #BF9BDE;
}

button {
    background: #a0a0a0;
}

#form input[type="submit"]:hover,
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#form input[type="submit"]:active,
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #BF9BDE;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    display: block;
    width: 40px;
    height: 40px;
}

.social-icons a img {
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.social-icons a:hover img {
    transform: scale(1.05);
    opacity: 0.6;
}